<!DOCTYPE html>
<html xmlns:th="thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<html>
<head>

    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon.png">

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" href="./css/style.css" media="screen">
    <link rel="stylesheet" type="text/css" href="./css/home.css" media="screen">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>

</head>
<!------------------------------------------------->
<!---      Marked for removal   ->      +++      -->
<!------------------------------------------------->
<body class="layout-one-column sportsbetting desktop site-wide">
<div id="container">
    <header id="header">
        <div class="top-container">
            <div class="header-container">
                <h1 class="header-controls-heading"
                    title="Online Betting">Online Betting</h1>
                <div class="header-controls">
                    <ul class="header-menu">
                        <li class="menu-item">
                            <a href="/about"
                               class="has-icon-suffix  external-link ">
                                <span class="text">About Us</span>
                                <i class="icon-wrapper icon-suffix external-link">
                                </i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="bottom-container">
            <div class="header-container">
                <h1></h1>
                <img name="Logo"
                     th:src="@{/img/Logo.png}">
                <div class="account-container">
                    <div id="login-64127"
                         data-test-name="container-login">
                        <div class="">
                            <div class="widget login">
                                <div class="login-content">
                                    <div class="top-container"></div>
                                    <div style="overflow: hidden; height: 0px; transition: height 400ms ease-out 0s;"></div>
                                    <div class="MainLogin__inline___1STfT">
                                        <div class="MainLogin__headerListContainer___18GWl MainLogin__shrinkRight___2QG_i">
                                            <div>
                                                <div class="Group__vertical___3xm_m Group__root___hnqau Group__tight___2kwl8">
                                                    <div class="Group__horizontal___33MBr Group__root___hnqau Group__normal___2vWh8">

                                                        <form sec:authorize="isAnonymous()" th:action="@{/login}" method="POST">
                                                            <div class="Group__horizontal___33MBr Group__root___hnqau Group__none___3J27q">
                                                                <div class="_e296pg">
                                                                    <div class="_e7hn5">
                                                                        <div class="_irsnq7">
                                                                            <div class="Fieldstyle__FormField-sc-1gdsmw1-0 dVqUFp">
                                                                                <input class="Field-headerstyle__HeaderInput-sc-1p523a3-0 fvfEHO Fieldstyle__Input-sc-1gdsmw1-1 iTCtjl"
                                                                                       id="ufe_unique_id_1"
                                                                                       name="username"
                                                                                       type="email"
                                                                                       placeholder="Email"
                                                                                       autocomplete="off"
                                                                                       value="">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="_3gspvn">
                                                                    <div class="_e7hn5">
                                                                        <div class="_irsnq7">
                                                                            <div class="fieldContainer">
                                                                                <div class="Fieldstyle__FormField-sc-1gdsmw1-0 dVqUFp">
                                                                                    <input class="Field-headerstyle__HeaderInput-sc-1p523a3-0 fvfEHO Fieldstyle__Input-sc-1gdsmw1-1 beIQrZ"
                                                                                           id="ufe_unique_id_2"
                                                                                           name="password"
                                                                                           type="password"
                                                                                           placeholder="Password"
                                                                                           autocomplete="off"
                                                                                           value="">
                                                                                </div>
                                                                                <div class="Password__decorator___18BCS">
                                                                                    <div>
                                                                                        <a class="_1mki11ol"
                                                                                           data-test-name="forgot-password">
																		 <span>
																		 <span class="ForgotPasswordLink__forgotPassword___FNdCi">Forgot?</span>
																		 </span>
                                                                                        </a>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div>
                                                                    <button class="_192xn9cNaN"
                                                                            data-test-name="btn-login" type="submit">
														                <span class="_7byueq">
														                    <span class="_1etkxf1">Log In</span>
														                </span>
                                                                    </button>
                                                                </div>
                                                            </div>

                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="bottom-container">
                                            <div sec:authorize="isAnonymous()" class="register-button-container">
                                                <a href="/register" class="_10sdc5fNaN">
                                                    <span class="_7byueq">
                                                        <span class="_1etkxf1">Register</span>
                                                    </span>
                                                </a>
                                            </div>
                                            <div sec:authorize="isAuthenticated()" class="register-button-container">
                                                Hi, you are logged-in as: <span sec:authentication="name"></span>
                                                <a href="/logout" class="_10sdc5fNaN">
                                                    <span class="_7byueq">
                                                        <span class="_1etkxf1">Log out</span>
                                                    </span>
                                                </a>
                                            </div>                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="drawer-bottom"
             class="drawer hidden">
            <div class="drawer-arrow"></div>
            <div class="drawer-content drawer-content-right"></div>
        </div>
        <div id="drawerBottom-115461"></div>
    </header>
    <div id="navigation-355596" class="widget navigation">
        <div id="nav-main"
             class="main-navigation">
            <nav>
                <ul class="menu-list product-navigation">
                    <li class="list-item has-sub ">
                        <a href="/home"
                           class="has-icon-prefix link-item"
                           title="Home">
                            <i class="icon-wrapper icon-prefix sportsbook">
                            </i>
                            <span class="text">Home</span>
                        </a>
                    </li>

                    <li sec:authorize="isAuthenticated()" class="list-item active">
                        <a href="/myBets"
                           class="has-icon-prefix link-item"
                           title="My Bets">
                            <i class="icon-wrapper icon-prefix casino">
                            </i>
                            <span class="text">My Bets</span>
                        </a>
                    </li>

                    <li sec:authorize="isAuthenticated()" class="list-item">
                        <a href="/myAccount"
                           class="has-icon-prefix link-item"
                           title="My Account">
                            <i class="icon-wrapper icon-prefix horse-racing">
                            </i>
                            <span class="text">My Account</span>
                        </a>
                    </li>
<!--
                    <li sec:authorize="isAuthenticated()" class="list-item">
                        <a href="/newEvent"
                           class="has-icon-prefix link-item"
                           title="Admin">
                            <i class="icon-wrapper icon-prefix live-casino-wheel">
                            </i>
                            <span class="text">Admin</span>
                        </a>
                    </li>
-->
                    <li sec:authorize="isAnonymous()" class="list-item">
                        <a href="/register"
                           class="has-icon-prefix link-item"
                           title="Admin">
                            <i class="icon-wrapper icon-prefix live-casino-wheel">
                            </i>
                            <span class="text">Register</span>
                        </a>
                    </li>

                </ul>
                <ul class="menu-list misc-navigation">


                </ul>
            </nav>
        </div>
    </div>

    <!-- Main Content -->
    <section id="main-content">

        <!-- Events -->
        <section class="page-content" name="categories">
            <div class="category-column">
                <h2>Bet Categories</h2>

                <form th:action="@{/myBets}" >
                    <button class="category-column-button"
                            type="submit">ALL</button>
                </form>

                <form th:action="@{/myBets}" >
                    <button class="category-column-button" type="submit"
                            th:name="category" th:value="football" >FOOTBALL</button>
                </form>

                <form th:action="@{/myBets}" >
                    <button class="category-column-button" type="submit"
                            th:name="category" th:value="basketball" >BASKETBALL</button>
                </form>

                <form th:action="@{/myBets}" >
                    <button class="category-column-button" type="submit"
                            th:name="category" th:value="voleyball" >VOLEYBALL</button>
                </form>

                <form th:action="@{/myBets}" >
                    <button class="category-column-button" type="submit"
                            th:name="category" th:value="handball" >HANDBALL</button>
                </form>

                <form th:action="@{/myBets}" >
                    <button class="category-column-button" type="submit"
                            th:name="category" th:value="tennis" >TENNIS</button>
                </form>

                <form th:action="@{/myBets}" >
                    <button class="category-column-button" type="submit"
                            th:name="category" th:value="cricket" >CRICKET</button>
                </form>

                <form th:action="@{/myBets}" >
                    <button class="category-column-button" type="submit"
                            th:name="category" th:value="box" >BOX</button>
                </form>

                <form th:action="@{/myBets}" >
                    <button class="category-column-button" type="submit"
                            th:name="category" th:value="k1" >K1</button>
                </form>

                <form th:action="@{/myBets}" >
                    <button class="category-column-button" type="submit"
                            th:name="category" th:value="formula1" >FORMULA1</button>
                </form>

                <form th:action="@{/myBets}" >
                    <button class="category-column-button" type="submit"
                            th:name="category" th:value="dtm" >DTM</button>
                </form>

                <form th:action="@{/myBets}" >
                    <button class="category-column-button" type="submit"
                            th:name="category" th:value="wrc" >WRC</button>
                </form>

                <form th:action="@{/myBets}" >
                    <button class="category-column-button" type="submit"
                            th:name="category" th:value="motogp" >MOTOGP</button>
                </form>

                <form th:action="@{/myBets}" >
                    <button class="category-column-button" type="submit"
                            th:name="category" th:value="wsbk" >WSBK</button>
                </form>

                <form th:action="@{/myBets}" >
                    <button class="category-column-button" type="submit"
                            th:name="category" th:value="pool" >POOL</button>
                </form>

                <form th:action="@{/myBets}" >
                    <button class="category-column-button" type="submit"
                            th:name="category" th:value="chess" >CHESS</button>
                </form>

                <form th:action="@{/myBets}" >
                    <button class="category-column-button" type="submit"
                            th:name="category" th:value="bowling" >BOWLING</button>
                </form>

                <form th:action="@{/myBets}" >
                    <button class="category-column-button" type="submit"
                            th:name="category" th:value="pingpong" >PINGPONG</button>
                </form>

                <form th:action="@{/myBets}" >
                    <button class="category-column-button" type="submit"
                            th:name="category" th:value="golf" >GOLF</button>
                </form>

                <form th:action="@{/myBets}" >
                    <button class="category-column-button" type="submit"
                            th:name="category" th:value="others" >OTHERS</button>
                </form>

<!--                <button class="category-column-button">ALL</button>-->
<!--                <button class="category-column-button" th:each="category : ${T(com.intellibet.model.EventCategory).values()}" th:text="${category}"></button>-->
            </div>
        </section>
        <section class="page-content" name="cards">

          <!--  <div class="search-container">
                <form id="search-form" th:action="@{/home}">
                    <input type="text" placeholder="Search.." th:name="search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>-->

            <div class="main-content">
                <div class="event-column">
                    <div class="event-column-head">
                        <p>My Bets</p>
                    </div>
                    <div class="MuiDialog-container MuiDialog-scrollPaper" tabindex="-1" style="transform: none; transition: transform 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;">
                        <div class="MuiPaper-root MuiDialog-paper MuiDialog-paperScrollPaper MuiDialog-paperWidthLg MuiPaper-elevation24 MuiPaper-rounded" role="dialog">
                            <div style="overflow-x: hidden;">
                                <div class="react-swipeable-view-container" style="flex-direction: row; transition: transform 0.35s cubic-bezier(0.15, 0.3, 0.25, 1) 0s; direction: ltr; display: flex; will-change: transform; transform: translate(-100%, 0px);">
                                    <div aria-hidden="true" data-swipeable="true" style="width: 100%; flex-shrink: 0; overflow: auto;"></div>
                                    <div aria-hidden="false" data-swipeable="true" style="width: 100%; flex-shrink: 0; overflow: auto;">
                                        <div>
                                            <div class="MuiTabs-root">
                                                <div class="MuiTabs-scroller MuiTabs-fixed" style="overflow: hidden;">
                                                    <div class="MuiTabs-flexContainer MuiTabs-centered" role="tablist">
                                                        <button class="pending MuiButtonBase-root MuiTab-root MuiTab-textColorInherit Mui-selected" tabindex="0" type="button" role="tab" aria-selected="true" id="wrapped-tab-Sports" aria-controls="wrapped-tabpanel-Sports"><span class="MuiTab-wrapper">Pending</span><span class="MuiTouchRipple-root"></span></button>
                                                        <button class="decided MuiButtonBase-root MuiTab-root MuiTab-textColorInherit" tabindex="-1" type="button" role="tab" aria-selected="false" id="wrapped-tab-Virtuals" aria-controls="wrapped-tabpanel-Virtuals"><span class="MuiTab-wrapper">Decided</span><span class="MuiTouchRipple-root"></span></button></div>
                                                    <span class="jss33 jss35 MuiTabs-indicator" style="left: 146px; width: 160px;"></span>
                                                </div>
                                            </div>
                                            <div class="MuiTypography-root MuiTypography-body1" role="tabpanel" id="wrapped-tabpanel-0" aria-labelledby="wrapped-tab-0">
                                                <div>
                                                    <div>

                                                        <div th:each="placedBetForm : ${pendingBets}" class="jss114 pendingBet">
                                                            <div class="jss115">
                                                                <div class="d-flex flex-nowrap align-items-center">
                                                                    <div class="jss116">Live </div>
                                                                    <div class="jss116 jss117">
                                                                        <div class="jss120">

                                                                            <!--                                                                        <div th:if="${placedBetForm.betWon == false}"  class="jss122">X</div>-->
                                                                            <!--                                                                        <div th:if="${placedBetForm.betWon == true}" class="jss121">-->
                                                                            <!--                                                                            <svg width="16.094" height="14.396" viewBox="0 0 16.094 14.396">-->
                                                                            <!--                                                                                <path id="Path_1080" data-name="Path 1080" d="M439.14,601.984s4.514,3.292,5.67,4.141c1.352-1.856,8.328-11.415,8.328-11.415" transform="translate(-438.256 -593.826)" fill="none" stroke="#06d2bd" stroke-miterlimit="10" stroke-width="3"></path>-->
                                                                            <!--                                                                            </svg>-->
                                                                            <!--                                                                        </div>-->

                                                                            <div class="jss124">Possible gain <span th:text="${placedBetForm.gainedValue}"></span> Lei</div>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="d-flex flex-nowrap align-items-center justify-content-between">
                                                                    <div class="jss146">Bet placed on <span class="jss147"><span th:text="${placedBetForm.betDateAndTime}"></span></span></div>
                                                                </div>
                                                            </div>
                                                            <hr class="MuiDivider-root jss119">
                                                            <div class="jss118">
                                                                <div class="jss155">
                                                                    <div class="jss156">
                                                                        <div>
                                                                            <div class="jss154">
                                                                                <svg id="calendar" width="18.31" height="18.31" viewBox="0 0 18.31 18.31" class="jss157"> <g id="Group_84" data-name="Group 84"> <g id="Group_83" data-name="Group 83"> <path id="Path_88" data-name="Path 88" d="M16.165,1.431h-.858V0H13.876V1.431H4.435V0H3V1.431H2.146A2.148,2.148,0,0,0,0,3.576V16.165A2.148,2.148,0,0,0,2.146,18.31H16.165a2.148,2.148,0,0,0,2.146-2.146V3.576A2.148,2.148,0,0,0,16.165,1.431Zm.715,14.734a.716.716,0,0,1-.715.715H2.146a.716.716,0,0,1-.715-.715V6.723H16.88Zm0-10.872H1.431V3.576a.716.716,0,0,1,.715-.715H3V4.292H4.435V2.861h9.441V4.292h1.431V2.861h.858a.716.716,0,0,1,.715.715Z" fill="#586682"></path> </g> </g> <g id="Group_86" data-name="Group 86" transform="translate(2.317 8.803)"> <g id="Group_85" data-name="Group 85" transform="translate(0 0)"> <rect id="Rectangle_34" data-name="Rectangle 34" width="2" transform="translate(-0.317 0.094)" fill="#586682"></rect> </g> </g> <g id="Group_88" data-name="Group 88" transform="translate(6.372 8.803)"> <g id="Group_87" data-name="Group 87" transform="translate(0 0)"> <rect id="Rectangle_35" data-name="Rectangle 35" transform="translate(-0.372 0.094)" fill="#586682"></rect> </g> </g> <g id="Group_90" data-name="Group 90" transform="translate(8.689 8.803)"> <g id="Group_89" data-name="Group 89" transform="translate(0 0)"> <rect id="Rectangle_36" data-name="Rectangle 36" transform="translate(0.311 0.094)" fill="#586682"></rect> </g> </g> <g id="Group_92" data-name="Group 92" transform="translate(11.585 8.803)"> <g id="Group_91" data-name="Group 91" transform="translate(0 0)"> <rect id="Rectangle_37" data-name="Rectangle 37" width="1" transform="translate(0.415 0.094)" fill="#586682"></rect> </g> </g> <g id="Group_94" data-name="Group 94" transform="translate(13.902 8.803)"> <g id="Group_93" data-name="Group 93" transform="translate(0 0)"> <rect id="Rectangle_38" data-name="Rectangle 38" width="1" transform="translate(0.098 0.094)" fill="#586682"></rect> </g> </g> <g id="Group_96" data-name="Group 96" transform="translate(2.317 11.699)"> <g id="Group_95" data-name="Group 95" transform="translate(0 0)"> <rect id="Rectangle_39" data-name="Rectangle 39" width="2" height="1" transform="translate(-0.317 0.198)" fill="#586682"></rect> </g> </g> <g id="Group_98" data-name="Group 98" transform="translate(6.372 11.699)"> <g id="Group_97" data-name="Group 97" transform="translate(0 0)"> <rect id="Rectangle_40" data-name="Rectangle 40" height="1" transform="translate(-0.372 0.198)" fill="#586682"></rect> </g> </g> <g id="Group_100" data-name="Group 100" transform="translate(8.689 11.699)"> <g id="Group_99" data-name="Group 99" transform="translate(0 0)"> <rect id="Rectangle_41" data-name="Rectangle 41" height="1" transform="translate(0.311 0.198)" fill="#586682"></rect> </g> </g> <g id="Group_102" data-name="Group 102" transform="translate(11.585 11.699)"> <g id="Group_101" data-name="Group 101" transform="translate(0 0)"> <rect id="Rectangle_42" data-name="Rectangle 42" width="1" height="1" transform="translate(0.415 0.198)" fill="#586682"></rect> </g> </g> <g id="Group_104" data-name="Group 104" transform="translate(2.317 14.016)"> <g id="Group_103" data-name="Group 103" transform="translate(0 0)"> <rect id="Rectangle_43" data-name="Rectangle 43" width="2" height="1" transform="translate(-0.317 -0.119)" fill="#586682"></rect> </g> </g> <g id="Group_106" data-name="Group 106" transform="translate(6.372 14.016)"> <g id="Group_105" data-name="Group 105" transform="translate(0 0)"> <rect id="Rectangle_44" data-name="Rectangle 44" height="1" transform="translate(-0.372 -0.119)" fill="#586682"></rect> </g> </g> <g id="Group_108" data-name="Group 108" transform="translate(8.689 14.016)"> <g id="Group_107" data-name="Group 107" transform="translate(0 0)"> <rect id="Rectangle_45" data-name="Rectangle 45" height="1" transform="translate(0.311 -0.119)" fill="#586682"></rect> </g> </g> <g id="Group_110" data-name="Group 110" transform="translate(11.585 14.016)"> <g id="Group_109" data-name="Group 109" transform="translate(0 0)"> <rect id="Rectangle_46" data-name="Rectangle 46" width="1" height="1" transform="translate(0.415 -0.119)" fill="#586682"></rect> </g> </g> <g id="Group_112" data-name="Group 112" transform="translate(13.902 11.699)"> <g id="Group_111" data-name="Group 111" transform="translate(0 0)"> <rect id="Rectangle_47" data-name="Rectangle 47" width="1" height="1" transform="translate(0.098 0.198)" fill="#586682"></rect> </g> </g> </svg>
                                                                                <span th:text="${placedBetForm.eventDate}"></span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="jss150 ">
                                                                        <div class="jss152">
                                                                            <div class="jss153">Final quota</div>
                                                                            <div class="jss154"><span th:text="${placedBetForm.odd}"></span></div>
                                                                        </div>
                                                                        <div class="jss152">
                                                                            <div class="jss153">Your bet</div>
                                                                            <div class="jss154"><span th:text="${placedBetForm.wagedValue}"></span> Lei</div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="jss125">
                                                                <div class="jss128">
                                                                    <div>
                                                                        <span th:text="${placedBetForm.playerA}"></span>
                                                                        <span> : </span>
                                                                        <span th:text="${placedBetForm.playerB}"></span>
                                                                    </div>
                                                                    <div>Final | <span th:text="${placedBetForm.option}"></span></div>
                                                                </div>

                                                            </div>
                                                        </div>

                                                        <div th:each="placedBetForm : ${decidedBets}" class="jss114 decidedBet">
                                                            <div class="jss115">
                                                                <div class="d-flex flex-nowrap align-items-center">
                                                                    <div class="jss116">Ended </div>
                                                                    <div class="jss116 jss117">
                                                                        <div class="jss120">

                                                                            <div th:if="${placedBetForm.betWon == 'false'}"  class="jss122">X</div>
                                                                            <div th:if="${placedBetForm.betWon == 'true'}" class="jss121">
                                                                                <svg width="16.094" height="14.396" viewBox="0 0 16.094 14.396">
                                                                                    <path id="Path_1080" data-name="Path 1080" d="M439.14,601.984s4.514,3.292,5.67,4.141c1.352-1.856,8.328-11.415,8.328-11.415" transform="translate(-438.256 -593.826)" fill="none" stroke="#06d2bd" stroke-miterlimit="10" stroke-width="3"></path>
                                                                                </svg>
                                                                            </div>

                                                                            <div class="jss124"> <span th:text="${placedBetForm.gainedValue}"></span> Lei</div>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="d-flex flex-nowrap align-items-center justify-content-between">
                                                                    <div class="jss146">Bet placed on <span class="jss147"><span th:text="${placedBetForm.betDateAndTime}"></span></span></div>
                                                                </div>
                                                            </div>
                                                            <hr class="MuiDivider-root jss119">
                                                            <div class="jss118">
                                                                <div class="jss155">
                                                                    <div class="jss156">
                                                                        <div>
                                                                            <div class="jss154">
                                                                                <svg id="calendar" width="18.31" height="18.31" viewBox="0 0 18.31 18.31" class="jss157"> <g id="Group_84" data-name="Group 84"> <g id="Group_83" data-name="Group 83"> <path id="Path_88" data-name="Path 88" d="M16.165,1.431h-.858V0H13.876V1.431H4.435V0H3V1.431H2.146A2.148,2.148,0,0,0,0,3.576V16.165A2.148,2.148,0,0,0,2.146,18.31H16.165a2.148,2.148,0,0,0,2.146-2.146V3.576A2.148,2.148,0,0,0,16.165,1.431Zm.715,14.734a.716.716,0,0,1-.715.715H2.146a.716.716,0,0,1-.715-.715V6.723H16.88Zm0-10.872H1.431V3.576a.716.716,0,0,1,.715-.715H3V4.292H4.435V2.861h9.441V4.292h1.431V2.861h.858a.716.716,0,0,1,.715.715Z" fill="#586682"></path> </g> </g> <g id="Group_86" data-name="Group 86" transform="translate(2.317 8.803)"> <g id="Group_85" data-name="Group 85" transform="translate(0 0)"> <rect id="Rectangle_34" data-name="Rectangle 34" width="2" transform="translate(-0.317 0.094)" fill="#586682"></rect> </g> </g> <g id="Group_88" data-name="Group 88" transform="translate(6.372 8.803)"> <g id="Group_87" data-name="Group 87" transform="translate(0 0)"> <rect id="Rectangle_35" data-name="Rectangle 35" transform="translate(-0.372 0.094)" fill="#586682"></rect> </g> </g> <g id="Group_90" data-name="Group 90" transform="translate(8.689 8.803)"> <g id="Group_89" data-name="Group 89" transform="translate(0 0)"> <rect id="Rectangle_36" data-name="Rectangle 36" transform="translate(0.311 0.094)" fill="#586682"></rect> </g> </g> <g id="Group_92" data-name="Group 92" transform="translate(11.585 8.803)"> <g id="Group_91" data-name="Group 91" transform="translate(0 0)"> <rect id="Rectangle_37" data-name="Rectangle 37" width="1" transform="translate(0.415 0.094)" fill="#586682"></rect> </g> </g> <g id="Group_94" data-name="Group 94" transform="translate(13.902 8.803)"> <g id="Group_93" data-name="Group 93" transform="translate(0 0)"> <rect id="Rectangle_38" data-name="Rectangle 38" width="1" transform="translate(0.098 0.094)" fill="#586682"></rect> </g> </g> <g id="Group_96" data-name="Group 96" transform="translate(2.317 11.699)"> <g id="Group_95" data-name="Group 95" transform="translate(0 0)"> <rect id="Rectangle_39" data-name="Rectangle 39" width="2" height="1" transform="translate(-0.317 0.198)" fill="#586682"></rect> </g> </g> <g id="Group_98" data-name="Group 98" transform="translate(6.372 11.699)"> <g id="Group_97" data-name="Group 97" transform="translate(0 0)"> <rect id="Rectangle_40" data-name="Rectangle 40" height="1" transform="translate(-0.372 0.198)" fill="#586682"></rect> </g> </g> <g id="Group_100" data-name="Group 100" transform="translate(8.689 11.699)"> <g id="Group_99" data-name="Group 99" transform="translate(0 0)"> <rect id="Rectangle_41" data-name="Rectangle 41" height="1" transform="translate(0.311 0.198)" fill="#586682"></rect> </g> </g> <g id="Group_102" data-name="Group 102" transform="translate(11.585 11.699)"> <g id="Group_101" data-name="Group 101" transform="translate(0 0)"> <rect id="Rectangle_42" data-name="Rectangle 42" width="1" height="1" transform="translate(0.415 0.198)" fill="#586682"></rect> </g> </g> <g id="Group_104" data-name="Group 104" transform="translate(2.317 14.016)"> <g id="Group_103" data-name="Group 103" transform="translate(0 0)"> <rect id="Rectangle_43" data-name="Rectangle 43" width="2" height="1" transform="translate(-0.317 -0.119)" fill="#586682"></rect> </g> </g> <g id="Group_106" data-name="Group 106" transform="translate(6.372 14.016)"> <g id="Group_105" data-name="Group 105" transform="translate(0 0)"> <rect id="Rectangle_44" data-name="Rectangle 44" height="1" transform="translate(-0.372 -0.119)" fill="#586682"></rect> </g> </g> <g id="Group_108" data-name="Group 108" transform="translate(8.689 14.016)"> <g id="Group_107" data-name="Group 107" transform="translate(0 0)"> <rect id="Rectangle_45" data-name="Rectangle 45" height="1" transform="translate(0.311 -0.119)" fill="#586682"></rect> </g> </g> <g id="Group_110" data-name="Group 110" transform="translate(11.585 14.016)"> <g id="Group_109" data-name="Group 109" transform="translate(0 0)"> <rect id="Rectangle_46" data-name="Rectangle 46" width="1" height="1" transform="translate(0.415 -0.119)" fill="#586682"></rect> </g> </g> <g id="Group_112" data-name="Group 112" transform="translate(13.902 11.699)"> <g id="Group_111" data-name="Group 111" transform="translate(0 0)"> <rect id="Rectangle_47" data-name="Rectangle 47" width="1" height="1" transform="translate(0.098 0.198)" fill="#586682"></rect> </g> </g> </svg>
                                                                                <span th:text="${placedBetForm.eventDate}"></span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="jss150 ">
                                                                        <div class="jss152">
                                                                            <div class="jss153">Final quota</div>
                                                                            <div class="jss154"><span th:text="${placedBetForm.odd}"></span></div>
                                                                        </div>
                                                                        <div class="jss152">
                                                                            <div class="jss153">Your bet</div>
                                                                            <div class="jss154"><span th:text="${placedBetForm.wagedValue}"></span> Lei</div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="jss125">
                                                                <div class="jss128">
                                                                    <div>
                                                                        <span th:text="${placedBetForm.playerA}"></span>
                                                                        <span> : </span>
                                                                        <span th:text="${placedBetForm.playerB}"></span>
                                                                    </div>
                                                                    <div>Final | <span th:text="${placedBetForm.option}"></span></div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="MuiTypography-root MuiTypography-body1" role="tabpanel" hidden="" id="wrapped-tabpanel-1" aria-labelledby="wrapped-tab-1"></div>
                                        </div>
                                    </div>
                                    <div aria-hidden="true" data-swipeable="true" style="width: 100%; flex-shrink: 0; overflow: auto;"></div>
                                </div>
                            </div>
                        </div>
                    </div>

















                </div>



            </div>
        </section>
    </section>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!--	     <script type="text/javascript" th:src="@{/js/script.js}"></script>-->
<script src="/js/script.js"></script>
</body>


</html>
